/*.row {
  text-align: center;
}

.col-lg-4 {
  display:inline-block;
  float: none;
  text-align: left;
}
*/
* {
  margin: 0 auto;
}

.row {
  padding: 0px 10px;
}

#overload {
  width: 960px;
  height: auto;
  overflow: hidden;
}