<div id="modal-add-email" class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" style="width:45%;">
      <div class="modal-content">
<!--         <div class="modal-header">
          <div class="caption"><h2>Add Company Details</h2></div>
        </div> -->
        <div class="modal-body">
          <div class="alert alert-danger alert-dismissible fade in hidden error-on-save" role="alert">
              <strong>Oh snap!</strong> <p id="error-reason"></p>
          </div>
          <div class="container">
              <div class="content-container clearfix">
                  <div class="col-md-12">
                      <div class="form-group">
                        <select id="all-to-email" multiple="multiple" name="all-user-email" class="js-example-tags form-control" style="width: 476px">
                        </select>
                      </div>
                      <div class="form-group">
                        <select id="all-cc-email" multiple="multiple" name="all-user-email" class="js-example-tags form-control" style="width: 476px">
                        </select>
                      </div>
                      <div class="form-group">
                        <select id="all-bcc-email" multiple="multiple" name="all-user-email" class="js-example-tags form-control" style="width: 476px">
                        </select>
                      </div>
                      <div class="form-group">
                          <input id="email-subject" type="text" class="form-control" placeholder="Subject" />
                      </div>
                      <textarea id="email-text" class="form-control" placeholder="message"></textarea>
                  </div>
              </div>
          </div>
        </div>
        <fieldset>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-info pull-right marging-left" id="save-draft">Draft</button>
            <button type="button" data-dismiss="modal" class="btn btn-success pull-left" id="send-email">Send</button>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>