    <div class="alert alert-warning" role="alert">
    New mail from
   <%= email.sender.full_name %>
    <b><%= email.subject %></b>-<font style="color:#c9c9c9"><%= email.body %></font>
<button id="closebutton" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>

</div>