      <div class="footer">
        <div class="pull-right hidden-xs">
           <strong class="text-custom">Email intranet</strong>.
        </div>
        <div>
          <strong>Simple Admin</strong> - Copyright © 2017
        </div>
      </div>