<div id="side-bar">
  <p class="title-p">MailBox</p>
  <div class="button-area">
    <div class="buttons">
      <div class="hold-both">
        <i class="am-icon fa fa-edit"></i> <span class="am-texting">Compose</span>
      </div>
    </div>
    <div class="buttons">
      <div class="hold-both">
        <i class="am-icon fa fa-inbox"></i> <span class="am-texting">Inbox</span>
      </div>
    </div>
    <div class="buttons">
      <div class="hold-both">
        <i class="am-icon fa fa-share-square-o"></i> <span class="am-texting">Sent</span>
      </div>
    </div>
    <div class="buttons">
      <div class="hold-both">
        <i class="am-icon fa fa-trash"></i> <span class="am-texting">Trash</span>
      </div>
    </div>
  </div>
</div>
