<aside class="sidebar-navigation">
      <div class="scrollbar-wrapper">
        <div>
          <button type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm">
            <i class="mdi mdi-close"></i>
          </button>
          <!-- User Detail box -->
          <div class="user-details active">
            <div class="pull-left">
              <img src="<%= avatar_url(current_user) %>" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
              <a href="#"><%= current_user.full_name %></a>
              <p class="text-muted m-0">Administrator</p>
            </div>
          </div>
          <!--- End User Detail box -->

          <!-- Left Menu Start -->
          <ul class="metisMenu nav" id="side-menu">
            <li>
              <a href="/mail_box" class="active"><i class="fa fa-inbox"></i><b>Inbox</b></a>
            </li>
            <li>
              <a href="/mail_box_sent" class="active"><i class="fa fa-paper-plane"></i><b>Sent</b></a>
            </li>
            <li>
              <a href="/mail_box_draft" class="active"><i class="fa fa-floppy-o"></i><b>Draft</b></a>
            </li>
            <li>
              <a href="/mail_box_delete" class="active"><i class="fa fa-trash"></i><b>Delete</b></a>
            </li>
          </ul>
        </div>
      </div>
      <!--Scrollbar wrapper-->
    </aside>
