<% content_for :head do %>
  <%= stylesheet_link_tag "views/mailbox/index.css" %>
  <%= stylesheet_link_tag "views/mailbox/icon.css" %>
<% end %>

<div class="main-section">
  <%= render :partial => 'shared/sidebar' %>
  <%= render :partial => 'utils/inbox' %>
</div>